.odd{
    background-color: bisque;
}

.even{
    background-color:lightblue;
}

.itemName{
    width: 30px;
    text-align: left;
    height: 30px;
    font-weight: bold;
}
.itemValue{
    width: 30px;
    overflow:visible;
    text-align: left;
    height: 30px;
}
table{
   /* margin-top: 20px;*/
   padding-left: 6px;
    display: inline-block;
    width: 100%;
    min-height: 200px;
    background-color:rgba(255, 255, 255, 0.3);
}
.hidden{
    display: none;
}
h3 {
    padding-left: 3px;
    margin: 8px 0px;
    width: 80%;
    height: 25px;
    font-size: 16px;
    vertical-align: middle;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color:rgba(255, 255, 255, 0.411);
}

